:root{
	--bg1:#9b59b6;
	--bg2:#3498db;
	--bg: #D7E5EC;
}

* {
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #e1f4ef;
}
.container {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background: linear-gradient(var(--bg1), var(--bg2));
	transition: 0.3s;
	overflow: hidden;
	text-align: center;
}

.container:hover {
	width: 400px;
	height: 550px;
	border-radius: 10px;
	background: linear-gradient(var(--bg1), var(--bg2));
}

.container img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 5px solid #ffffff;
	margin: 25px auto;
	cursor: pointer;
	position: relative;
	transition: 0.3s;
}

.container img.active {
	width: 400px;
	height: 550px;
	margin: 0;
	border: 5px solid #ffffff;
	border-radius: 10px;
}

.container h2 {
	color: #ffff;
	padding-bottom: 30px;
}
.container p {
	font-size: 18px;
	color: #ffff;
	margin: 0 30px 12px;
}
.btn-container {
	display: flex;
	justify-content: space-between;
	margin: 0 30px 12px;
	padding-top: 35px;
}
.btn-container button {
	height: 35px;
	width: 150px;
	border: none;
	margin-right: 12px;
	border-radius: 5px;
	font-weight: bold;
	color: #333333;
	cursor: pointer;
	transition: 0.5s;
}
.btn-container button:hover {
	transform: scale(0.95);
	font-weight: bold;
}
.icon-social {
	position: absolute;
	display: flex;
	flex-direction: column;
	transform: translateX(-52px);
	opacity: 0;
}
.container:hover .icon-social{
	transform: translateX(-52px);
	opacity: 1;
	transition: 0.5s;
}
.icon-social i {
	padding: 10px;
	color: #437264;
	background: #e1f4ef;
	border-radius: 10px;
	margin: 5px 0 0 12px;

}

.icon-social i:hover {
	transform: scale(1.07);
	transition: 0.5s;
}